<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jelly.jellybase">
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--表示此app只支持拥有BLE的设备上运行
    如果你不确定你的app使用的设备是否支持低功耗蓝牙，但又想让支持的设备使用低功耗蓝牙，把标志位改为 false，同时去代码中判断设备是否支持BLE：
    -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.google.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.bbk.launcher2.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huaqin.launcherEx.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.settings"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.huawei.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.lenovo.launcher.permission.BADGE_READ"/>
    <uses-permission android:name="com.lenovo.launcher.permission.BADGE_WRITE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.authentication.HW_ACCESS_AUTH_SERVICE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="android.permission.ACCESS_FIND_LOCATION" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.SET_TIME"/>
    <uses-permission android:name="android.permission.SIGNAL_PERSISTENT_PROCESSES"/>
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED"/>
    <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY"/>
    <!--android 8.0安装apk需要请求未知来源权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <!--电池优化白名单-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!--API level 9只包含有限的tag支持,包括：
        .通过ACTION_TAG_DISCOVERED来发布Tag信息
        .只有通过EXTRA_NDEF_MESSAGES扩展来访问NDEF消息
        .其他的tag属性和I/O操作都不支持
        所以你可能想要用API level 10来实现对tag的广泛的读写支持。-->
    <uses-sdk android:minSdkVersion="10"/>
    <!--NFC权限-->
    <uses-permission android:name="android.permission.NFC" />
    <!-- 要求当前设备必须要有NFC芯片 -->
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <!--加android:extractNativeLibs="false" 会导致加固后不能安装-->
    <!--本工程的属性和第三方工程里的属性名称相同  加 tools:replace="android:icon, android:theme"-->
    <application
        android:name="com.base.appManager.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:replace="android:icon, android:theme"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--↓↓↓↓↓ 高德地图 ↓↓↓↓↓-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="728a1ca11a5075f98cc9dcdbf609f753"/>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- ↑↑↑↑↑↑↑高德地图↑↑↑↑↑↑↑-->
        <!-- ↓↓↓↓↓百度自动更新↓↓↓↓↓ -->
        <meta-data android:name="BDAPPID" android:value="10591456"/>
        <meta-data android:name="BDAPPKEY" android:value="CkYiGj6ZRoVdpqdxuPCnklPwnDAyfgLp"/>
        <!-- ↑↑↑↑↑↑↑百度自动更新↑↑↑↑↑↑↑ -->
        <!--↓↓↓↓↓ autolayout 设计稿的尺寸。↓↓↓↓↓-->
        <meta-data android:name="design_width" android:value="768">
        </meta-data>
        <meta-data android:name="design_height" android:value="1280">
        </meta-data>
        <!--↑↑↑↑↑↑↑ autolayout 设计稿的尺寸。↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓解决Glide由于过度压缩导致了图片变绿↓↓↓↓↓-->
        <meta-data
            android:name="com.base.glide.GlideConfiguration"
            android:value="GlideModule"/>
        <!--↑↑↑↑↑↑↑↑解决Glide由于过度压缩导致了图片变绿↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓circle_dialog↓↓↓↓↓-->
        <meta-data
            android:name="circle_dialog_design_width" android:value="1200"/>
        <meta-data
            android:name="circle_dialog_design_height" android:value="1920"/>
        <!--↑↑↑↑↑↑↑↑circle_dialog↑↑↑↑↑↑↑↑-->
        <activity android:name="com.base.LauncherActivity"
            android:theme="@style/SplashThemeImage"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.JPUSH_CLICK" />
                <category android:name="android.intent.category.DEFAULT" /><!--必须加上这个，否则下面无法直接使用自定的action-->
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateUnchanged|stateHidden">
            <intent-filter>
                <action android:name="${applicationId}.action.ACTION_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userInfo.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateUnchanged|stateHidden">
            <intent-filter>
                <action android:name="${applicationId}.action.ACTION_LOGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".userInfo.RegisterActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden">
        </activity>
        <activity android:name=".userInfo.ForgetActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden">
        </activity>
        <activity android:name=".userInfo.SetPWDActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden">
        </activity>
        <activity android:name=".userInfo.PersonalInforActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden">
        </activity>
        <activity
            android:name="com.base.bgabanner.GuideActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AnswerActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.BottomBarActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AlipayPassWordActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.PaymentActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".shopcar.ShopCartActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AddShopcartActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.ScreenShortActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.HomeActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".seach.SearchActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".seach.SearchResultActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SpinnerActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.PickActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.base.webview.JSWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.base.webview.BaseWebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ProductDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.EvaluateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".userInfo.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ResolveHtmlActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.LineChartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.GraphValiCodeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.AddressListActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AddressAddActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AddressEditActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.RechargeActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.WithdrawActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.BankCardListActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AddBankCardActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="standard"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.BankCardEditActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.ChangeAddressActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.TreeActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.CopyActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.base.Contacts.ContactsActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.CrashActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SendEmailActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <!--↓↓↓↓高德地图↓↓↓↓-->
        <activity android:name=".activity.AMapActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.base.MapUtil.SimpleNaviActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden|adjustPan"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <!--↑↑↑↑↑高德地图↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓图片裁剪↓↓↓↓↓↓↓↓-->
        <activity
            android:name="com.base.cropper.CropperActivity"
            android:configChanges="orientation|keyboardHidden|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <!--↑↑↑↑↑↑↑↑图片裁剪↑↑↑↑↑↑↑↑-->
        <activity
            android:name=".swipeRefresh.activity.XSwipeMainActivity"
            android:label="Item中的菜单"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.menu.MenuActivity"
            android:label="Item中的菜单"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.menu.ListActivity"
            android:label="List形式菜单"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.menu.GridActivity"
            android:label="Grid形式菜单"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.menu.ViewTypeActivity"
            android:label="ViewType菜单"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.menu.VerticalActivity"
            android:label="竖向排布的菜单"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.menu.DefineActivity"
            android:label="自定义菜单"
            android:theme="@style/XSwipe_AppTheme"/>
        <!-- -->
        <activity
            android:name=".swipeRefresh.activity.move.MoveActivity"
            android:label="Item拖拽和侧滑删除"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.move.DragSwipeListActivity"
            android:label="ListItem拖拽/侧滑"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.move.DragGridActivity"
            android:label="GridItem拖拽"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.move.DragTouchListActivity"
            android:label="触摸即拖拽"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.move.DefineActivity"
            android:label="自定义拖拽/侧滑"
            android:theme="@style/XSwipe_AppTheme"/>
        <!-- -->
        <activity
            android:name=".swipeRefresh.activity.header.HeaderViewActivity"
            android:label="Header和Footer"
            android:theme="@style/XSwipe_AppTheme"/>
        <!-- -->
        <activity
            android:name=".swipeRefresh.activity.load.RefreshLoadActivity"
            android:label="刷新和加载更多"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.load.DefaultActivity"
            android:label="默认LoadMore"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.load.DefineActivity"
            android:label="自定义LoadMore"
            android:theme="@style/XSwipe_AppTheme"/>
        <!-- -->
        <activity
            android:name=".swipeRefresh.activity.nested.NestedActivity"
            android:label="滑动布局嵌套使用"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.nested.CardViewActivity"
            android:label="CardView"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.nested.DrawerActivity"
            android:label="DrawerLayout"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.nested.ViewPagerActivity"
            android:label="ViewPager"
            android:theme="@style/XSwipe_AppTheme"/>
        <!-- -->
        <activity
            android:name=".swipeRefresh.activity.group.GroupActivity"
            android:label="Sticky分组效果"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.group.LayoutActivity"
            android:label="普通布局中Sticky"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity
            android:name=".swipeRefresh.activity.group.MenuActivity"
            android:label="Item菜单Sticky分组"
            android:theme="@style/XSwipe_AppTheme"/>
        <activity android:name=".activity.MessageActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.MessageDetailsActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.UniqueIDActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.GSYVideoActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AutoTextAvtivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.CancelOrderActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.IDCartActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SingMD5Activity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".encrypt.EncryptActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <!--↓↓↓↓↓↓↓通过广播监听短信↓↓↓↓↓↓↓-->
        <receiver android:name="com.base.sms.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!--↑↑↑↑↑↑↑↑通过广播监听短信↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓设置默认短信应用↓↓↓↓↓↓↓-->
        <!-- BroadcastReceiver that listens for incoming MMS messages -->
        <receiver android:name="com.base.sms.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <!-- Activity that allows the user to send new SMS/MMS messages -->
        <activity android:name="com.base.sms.ComposeSmsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </activity>
        <!-- Service that delivers messages from the phone "quick response" -->
        <service android:name="com.base.sms.HeadlessSmsSendService"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <!--↑↑↑↑↑↑↑↑设置默认短信应用↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓蓝牙配对↓↓↓↓↓↓↓-->
        <activity android:name=".blebluetooth.BluetoothBLEActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".bluetooth.BluetoothActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".blebluetooth.operation.OperationActivity"
            android:windowSoftInputMode="stateUnchanged|stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <!--↑↑↑↑↑↑↑↑蓝牙配对↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓百度文字识别↓↓↓↓↓↓↓-->
        <activity android:name=".bdocr.OCRMainActivity" >
        </activity>
        <activity android:name=".bdocr.IDCardActivity"
            android:label="@string/idCardLabel">
        </activity>
        <!--↑↑↑↑↑↑↑↑百度文字识别↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓nfc实例↓↓↓↓↓↓↓-->
        <activity android:name=".nfc.NFCMainActivity"
            >
        </activity>
        <activity android:name=".nfc.NdefActivity"
            android:launchMode="singleTop"
            android:label="读写NDEF格式"
            >
            <intent-filter>
                <!--配置Activity处理Tag的优先级-->
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".nfc.MifareClassicActivity"
            android:launchMode="singleTop"
            android:label="读写MIFARECLASSIC格式"
            >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data  android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/tech_list"
                />
        </activity>
        <activity
            android:name=".nfc.NoNDEFActivity"
            android:label="读写非标准的NDEF格式数据" >
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/tech_list" />
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--↑↑↑↑↑↑↑↑nfc实例↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓版本检查↓↓↓↓↓↓↓-->
        <!--省流量更新SDK的下载服务，必须注册-->
        <service
            android:name="com.tencent.tmdownloader.TMAssistantDownloadService"
            android:exported="false"
            android:process=":TMAssistantDownloadSDKService" >
        </service>
        <!--↑↑↑↑↑↑↑↑版本检查↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓qq配置开始↓↓↓↓↓↓↓-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencentqqAppId"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--↑↑↑↑↑↑↑qq配置结束↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓微信支付回调↓↓↓↓↓↓↓-->
        <activity android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <!--↑↑↑↑↑↑↑↑微信支付回调↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓微信自动抢红包↓↓↓↓↓↓↓-->
        <activity android:name="com.base.redpacket.GuideActivity">
        </activity>
        <service
            android:name="com.base.redpacket.service.RedPacketService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/red_packet_service_config" />
        </service>
        <service
            android:name="com.base.redpacket.service.NotificationService"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <activity android:name="com.base.redpacket.StartActivity">
        </activity>
        <!--↑↑↑↑↑↑↑↑微信自动抢红包↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓微信登录回调↓↓↓↓↓↓↓-->
        <activity android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <!--↑↑↑↑↑↑↑↑微信登录回调↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓通知栏监听↓↓↓↓↓↓↓-->
        <service
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:name="com.base.NotifyService.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="com.bunyun.memorandum.clock.ALARM_ALERT" />-->
            <!--</intent-filter>-->
            <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
        </service>
        <!--↑↑↑↑↑↑↑↑通知栏监听↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓屏幕截图↓↓↓↓↓↓↓-->
        <activity
            android:name="com.base.screenCapture.ScreenShotActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!--↑↑↑↑↑↑↑↑屏幕截图↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓地图搜索↓↓↓↓↓↓↓-->
        <activity
            android:name="com.base.MapUtil.DestinationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!--↑↑↑↑↑↑↑↑地图搜索↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓物流节点↓↓↓↓↓↓↓-->
        <activity
            android:name="com.base.nodeprogress.NodeProgressDemo"
            android:screenOrientation="portrait">
        </activity>
        <!--↑↑↑↑↑↑↑↑物流节点↑↑↑↑↑↑↑↑-->
        <!--↓↓↓↓↓↓↓内容提供器↓↓↓↓↓↓↓↓-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--↑↑↑↑↑↑↑↑内容提供器↑↑↑↑↑↑↑↑-->
        <!--二维码-->
        <activity
            android:name="com.base.zxing.ScanerCodeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            />
        <!--二维码-->
        <!-- 注册监听手机状态 -->
        <receiver android:name=".receiver.PhoneStatReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <!--↓↓↓daemon保活服务↓↓↓-->
        <receiver
            android:name="com.base.daemon.receiver.WakeUpReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="com.xdandroid.hellodaemon.CANCEL_JOB_ALARM_SUB"/>
                <!-- wifi信号变化：-->
                <action android:name="android.net.wifi.RSSI_CHANGED" />
                <!-- wifi连接状态变化：-->
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <!-- wifi状态变化(启用、禁用)：-->
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <!-- 电话的信号强度已经改变。 -->
                <action android:name="android.intent.action.SIG_STR"></action>
                <!-- 电话服务的状态已经改变。(调为飞行模式可观察到变化) -->
                <action android:name="android.intent.action.SERVICE_STATE"></action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.base.daemon.receiver.WakeUpReceiver$WakeUpAutoStartReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:name="com.base.daemon.service.AbsWorkService$WorkNotificationService"/>
        <service
            android:name="com.base.daemon.service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true"
            android:process=":watch"/>
        <service
            android:name="com.base.daemon.service.WatchDogService"
            android:process=":watch"/>
        <service
            android:name="com.base.daemon.service.WatchDogService$WatchDogNotificationService"
            android:process=":watch"/>

        <service android:name=".server.TraceServiceImpl"/>
        <!--↑↑↑daemon保活服务↑↑↑-->
        <service android:name=".server.LocationService"
            android:enabled="true"
            />
        <service android:name="com.base.mic.MicService"/>
        <!--↓↓↓极光推送↓↓↓-->
        <receiver
            android:name="com.base.jiguang.PushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!--↑↑↑极光推送↑↑↑-->
    </application>

</manifest>